#page-container {
  min-height: 100%;
}

.content {
  min-height: 1vh;
}
.text-black {
  color: black !important;
}
.content-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.toolbar {
  width: max-content !important;
}

.menu-option:hover {
  cursor: pointer;
  background-color: var(--md-theme-default-primary, #448aff);
  transition: background-color 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.primary {
  color: var(--md-theme-default-primary, #448aff);
}

.add-element-btn {
  color: black !important;
  background-color: rgb(0, 255, 0) !important;
}
